@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: #f0f0f0;
}

a {
  color: #ff4d4f;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-weight: 600;
  color: #ff4d4f;
}

/* Đổi màu placeholder cho theme tối */
input::placeholder {
  color: #aaa !important;
}
